In [114]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format #turn off scientific notation
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

## Read zillow Data

In [115]:
#read Zillow 3 bedroom data by county into pandas dataframe 
#data from zillow.com/data
#we decided to only look at 5 years of data from 2014 - 2018 and 4 counties - LA, SF, Fresno and Shasta
file = "resources/County_Zhvi_3bedroom.csv" 
zillow_df = pd.read_csv(file, encoding = "latin-1") 
zillow_df.head()

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2008-01,2008-02,2008-03,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
0,3101,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,nan,nan,nan,...,600754.33,599393.33,599503.33,600387.00,602727.33,600822.00,600501.67,601233.00,605862.00,609034.00
1,139,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,nan,nan,nan,...,226143.33,227082.67,228167.00,228926.67,228869.67,228349.67,227408.00,226548.33,225984.67,225928.67
2,1090,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,124604.00,124348.50,124172.33,...,173528.00,173910.33,173899.00,173980.00,174518.00,175041.00,175728.00,176058.33,176914.00,177541.00
3,2402,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,nan,nan,nan,...,260194.00,261705.00,262585.67,263689.00,264876.67,266422.33,268442.00,270188.67,272057.67,273468.67
4,2841,San Diego County,CA,San Diego-Carlsbad,6,73,5,415019.00,410783.00,406752.67,...,561999.67,561455.00,563480.33,564365.67,566461.00,568930.33,571215.67,571894.67,573083.00,575533.33

## Filter Zillow Data for all California Counties, 2018 and save output

In [116]:
zillow_all_counties_df = zillow_df.loc[(zillow_df["State"] == "CA")]

# #use .copy() to avoid SettingWithCopyWarning warning
# #save region column to new table
zillow_clean_all_counties_df= zillow_all_counties_df[["RegionName"]].copy()


#Zillow data is broken down by month.  We want to look at annual trends
#Calc average yearly price for 2018
zillow_clean_all_counties_df["2018 Avg Price"] = zillow_df.loc[:,"2018-01":"2018-12"].mean(axis=1)
zillow_clean_all_counties_df=zillow_clean_all_counties_df.rename(columns={"GeoName":"RegionName", "2018 Avg Price":"Price"})
zillow_clean_all_counties_df.to_csv("output files/zillow_clean_all_counties_df.csv", index = False)
zillow_clean_all_counties_df

                  RegionName      Price
0         Los Angeles County  596094.53
4           San Diego County  560627.31
5              Orange County  683327.61
10          Riverside County  356364.39
11     San Bernardino County  327473.67
16        Santa Clara County 1241342.00
21            Alameda County  834717.42
24         Sacramento County  339320.94
36       Contra Costa County  652796.94
44             Fresno County  238799.28
60               Kern County  201768.94
61            Ventura County  561427.06
64      San Francisco County 1620575.75
80          San Mateo County 1371656.08
85        San Joaquin County  337382.17
123        Stanislaus County  292838.19
135            Sonoma County  647595.47
144            Tulare County  209681.19
155     Santa Barbara County  549925.83
159          Monterey County  555617.14
160            Solano County  408260.06
185            Placer County  447523.06
237   San Luis Obispo County  598684.81
247        Santa Cruz County  938373.89
249            Merced County  246967.67
252             Marin County 1078958.53
302              Yolo County  406554.78
332         El Dorado County  444697.28
342            Shasta County  253039.00
346          Imperial County  212911.33
398             Kings County  210107.56
404            Madera County  252386.89
444              Napa County  636226.06
448          Humboldt County  323063.42
572            Nevada County  460597.92
590            Sutter County  281832.53
624         Mendocino County  371446.75
717              Yuba County  248161.25
776              Lake County  273116.58
787            Tehama County  237068.78
866          Tuolumne County  290349.81
869        San Benito County  536261.33
1006        Calaveras County  327484.06
1020         Siskiyou County  208822.58
1151           Amador County  318327.64
1232           Lassen County  187454.31
1378        Del Norte County  231588.67
1399            Glenn County  215229.28
1634           Colusa County  213721.03
1699           Plumas County  268694.22
1747             Inyo County  325430.92
1762         Mariposa County  290702.61
1976          Trinity County  256738.58

## Filter Zillow Data for 4 counties 2014 - 2018 and save output

In [117]:
#keep all rows of the following counties:  Shasta County, Los Angeles County, San Francisco County, Fresno County

zillow_df = zillow_df.loc[(zillow_df["RegionName"] == "Los Angeles County") | 
                            (zillow_df["RegionName"] == "Fresno County") |
                            (zillow_df["RegionName"] == "San Francisco County") |
                            (zillow_df["RegionName"] == "Shasta County"), :]

#use .copy() to avoid SettingWithCopyWarning warning
#save region column to new table
zillow_clean_df= zillow_df[["RegionName"]].copy()

#Zillow data is broken down by month.  We want to look at annual trends
#Calc average yearly price from 2014 - 2018 of
zillow_clean_df["2014 Avg Price"] = zillow_df.loc[:,"2014-01":"2014-12"].mean(axis=1)
zillow_clean_df["2015 Avg Price"] = zillow_df.loc[:,"2015-01":"2015-12"].mean(axis=1)
zillow_clean_df["2016 Avg Price"] = zillow_df.loc[:,"2016-01":"2016-12"].mean(axis=1)
zillow_clean_df["2017 Avg Price"] = zillow_df.loc[:,"2017-01":"2017-12"].mean(axis=1)
zillow_clean_df["2018 Avg Price"] = zillow_df.loc[:,"2018-01":"2018-12"].mean(axis=1)
zillow_clean_df.head()

,RegionName,2014 Avg Price,2015 Avg Price,2016 Avg Price,2017 Avg Price,2018 Avg Price
0,Los Angeles County,456951.25,482374.33,518062.94,555362.75,596094.53
44,Fresno County,180313.22,191649.06,203774.64,220687.50,238799.28
64,San Francisco County,1194854.92,1292884.22,1388945.64,1471771.03,1620575.75
342,Shasta County,202065.47,216334.31,226238.28,241436.89,253039.00

In [118]:
#reset index to Region and transpose dataframe
zillow_clean_df.set_index("RegionName", inplace = True)
zillow_clean_df = zillow_clean_df.transpose()
zillow_clean_df.to_csv("output files/zillow_clean_df.csv")
zillow_clean_df.head()

RegionName,Los Angeles County,Fresno County,San Francisco County,Shasta County
2014 Avg Price,456951.25,180313.22,1194854.92,202065.47
2015 Avg Price,482374.33,191649.06,1292884.22,216334.31
2016 Avg Price,518062.94,203774.64,1388945.64,226238.28
2017 Avg Price,555362.75,220687.50,1471771.03,241436.89
2018 Avg Price,596094.53,238799.28,1620575.75,253039.00

## Filter Zillow Data for 4 counties 2013 - 2018 and save output

In [119]:
zillow_clean_2013_2018_df= zillow_df[["RegionName"]].copy()

#Zillow data is broken down by month.  We want to look at annual trends
#Calc average yearly price from 2013 - 2018 of
zillow_clean_2013_2018_df["2013 Avg Price"] = zillow_df.loc[:,"2013-01":"2013-12"].mean(axis=1)
zillow_clean_2013_2018_df["2014 Avg Price"] = zillow_df.loc[:,"2014-01":"2014-12"].mean(axis=1)
zillow_clean_2013_2018_df["2015 Avg Price"] = zillow_df.loc[:,"2015-01":"2015-12"].mean(axis=1)
zillow_clean_2013_2018_df["2016 Avg Price"] = zillow_df.loc[:,"2016-01":"2016-12"].mean(axis=1)
zillow_clean_2013_2018_df["2017 Avg Price"] = zillow_df.loc[:,"2017-01":"2017-12"].mean(axis=1)
zillow_clean_2013_2018_df["2018 Avg Price"] = zillow_df.loc[:,"2018-01":"2018-12"].mean(axis=1)
zillow_clean_2013_2018_df.set_index("RegionName", inplace = True)
zillow_clean_2013_2018_df = zillow_clean_2013_2018_df.transpose()
zillow_clean_2013_2018_df.to_csv("output files/zillow_clean_2013_2018_df.csv")
zillow_clean_2013_2018_df.head()
zillow_clean_2013_2018_df

RegionName,Los Angeles County,Fresno County,San Francisco County,Shasta County
2013 Avg Price,418759.50,162810.31,1096593.58,175357.75
2014 Avg Price,456951.25,180313.22,1194854.92,202065.47
2015 Avg Price,482374.33,191649.06,1292884.22,216334.31
2016 Avg Price,518062.94,203774.64,1388945.64,226238.28
2017 Avg Price,555362.75,220687.50,1471771.03,241436.89
2018 Avg Price,596094.53,238799.28,1620575.75,253039.00

## Income Data:  4 counties, 2014 - 2018

In [120]:
#Data from https://www.bea.gov/system/files/2019-11/lapi1119.pdf
#Data from https://www.bea.gov/system/files/2018-02/lapi1116.pdf

#create dictionary of income by county and make it a dataframe
income_df = pd.DataFrame({"RegionName":["Los Angeles County", "Fresno County", "San Francisco County", "Shasta County"],
                         "2014 Income":[50730, 36448, 97498, 38410],
                         "2015 Income":[53521, 38323, 103529, 40882],
                         "2016 Income":[57127, 40327, 114697, 43412],
                         "2017 Income":[59058, 41137, 121778, 44480],
                         "2018 Income":[62224, 43084, 130696, 46582]
                         })

income_df.set_index("RegionName", inplace=True)
income_df = income_df.transpose()
income_df.to_csv("output files/income_df.csv")
income_df.head()

RegionName,Los Angeles County,Fresno County,San Francisco County,Shasta County
2014 Income,50730,36448,97498,38410
2015 Income,53521,38323,103529,40882
2016 Income,57127,40327,114697,43412
2017 Income,59058,41137,121778,44480
2018 Income,62224,43084,130696,46582

## Income Data: all counties 2018

In [121]:
#Data from https://www.bea.gov/system/files/2019-11/lapi1119.pdf
#income_all_df=pd.read_csv("resources/all_income_download.csv")
df = pd.read_csv("resources/all_income_download.csv") 
df= df[["GeoName", "2018"]]

#drop first row with California as county
df = df.drop([0])

#concat "county" to all counties name so you can merge with zillow table 
df["GeoName"] = df["GeoName"] + " County"
df = df[["GeoName", "2018"]]

#rename column and dataframe, save output
all_counties_income=df.rename(columns={"GeoName":"RegionName", "2018":"Income"})
all_counties_income.to_csv("output files/all_counties_income.csv", index=False)
all_counties_income.head()

         RegionName  Income
1    Alameda County   76644
2     Alpine County   73307
3     Amador County   44793
4      Butte County   44346
5  Calaveras County   49893

## Rental Data:  4 Counties from 2014 - 2018

In [122]:
rentaldata_df = pd.read_excel('resources/County_MedianRentalPrice_3Bedroom.xlsx')
rentaldata_df.columns = rentaldata_df.iloc[0]
rentaldata_df.set_index('RegionName', inplace=True)
rentaldata_df.head()

,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
RegionName,,,,,,,,,,,,,,,,,,,,,
RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,2010-05,...,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11
Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,NaN,2400,2400,2411,2460,...,3189.50,3145,3200,3206.50,3216.50,3250,3250,3295,3249.50,3225
Cook County,IL,Chicago-Naperville-Elgin,17,31,2,NaN,1695,1650,1695,1595,...,1900,1995,2100,2200,2200,2100,2000,1950,1895,1850
Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,NaN,NaN,NaN,NaN,NaN,...,1550,1575,1600,1600,1600,1600,1599,1595,1575,1573.50
Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,NaN,NaN,NaN,NaN,NaN,...,1548,1569,1595,1600,1623,1650,1637.50,1635,1627,1609

In [125]:
selectcounties_df = rentaldata_df.loc[ ['Los Angeles County' , 'San Francisco County', 'Fresno County', 'Shasta County'] , : ]
col2014=selectcounties_df.loc[: , "2014-01":"2014-12"]
selectcounties_df['Average 2014 Rentals'] = col2014.mean(axis=1)
col2015=selectcounties_df.loc[: , "2015-01":"2015-12"]
selectcounties_df['Average 2015 Rentals'] = col2015.mean(axis=1)
col2016=selectcounties_df.loc[: , "2016-01":"2016-12"]
selectcounties_df['Average 2016 Rentals'] = col2016.mean(axis=1)
col2017=selectcounties_df.loc[: , "2017-01":"2017-12"]
selectcounties_df['Average 2017 Rentals'] = col2017.mean(axis=1)
col2018=selectcounties_df.loc[: , "2018-01":"2018-12"]
selectcounties_df['Average 2018 Rentals'] = col2018.mean(axis=1)
selected_counties_years_df=selectcounties_df.loc[:,["Average 2014 Rentals", "Average 2015 Rentals", "Average 2016 Rentals", "Average 2017 Rentals", "Average 2018 Rentals"]]
selected_counties_years_df_transposed=selected_counties_years_df.transpose()
selected_counties_years_df_transposed.to_csv("output files/rentals4counties.csv")
selected_counties_years_df_transposed.head()

RegionName,Los Angeles County,San Francisco County,Fresno County,Shasta County
0,,,,
Average 2014 Rentals,2376.25,5374.17,1106.04,1161.25
Average 2015 Rentals,2711.67,5978.54,1180.00,1243.12
Average 2016 Rentals,2827.50,5685.04,1239.58,1250.42
Average 2017 Rentals,3020.42,5446.25,1337.71,1300.42
Average 2018 Rentals,3121.62,5498.58,1424.38,1390.42

## Rental Data:  All CA counties, 2018

In [165]:
#filter rental data for 2018 and all counties in CA
select2018_df = rentaldata_df.loc[:, ["State","2018-01", "2018-02", "2018-03", "2018-04", "2018-05", "2018-06", "2018-07","2018-08", "2018-09","2018-10","2018-11","2018-12"] ]
counties2018_df=select2018_df.loc[select2018_df['State'] == "CA"]
CAcounties_col2018_df=counties2018_df.loc[: , "2018-01":"2018-12"]
counties2018_df['Average 2018 Rentals'] = CAcounties_col2018_df.mean(axis=1)
counties2018_df.to_csv("output files/rentals_all_counties_2018.csv")
counties2018_df.head()

,State,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,Average 2018 Rentals
RegionName,,,,,,,,,,,,,,
Los Angeles County,CA,3000,3000,3000,3100,3150,3195,3195,3200,3133.50,3141,3195,3150,3121.62
San Diego County,CA,2700,2700,2750,2800,2800,2800,2850,2850,2800,2765,2750,2800,2780.42
Orange County,CA,3150,3195,3195,3200,3200,3200,3195,3150,3195,3200,3195,3200,3189.58
Riverside County,CA,1995,2003.50,2050,2100,2100,2095,2095,2099,2100,2150,2175,2150,2092.71
San Bernardino County,CA,1835,1900,1950,1995,1950,2000,2000,2000,1995,1950,2095,2086,1979.67

## Unemployment Data from 2014 - 2018

In [157]:
# Import csv Data File
# Data from https://data.ca.gov/dataset/local-area-unemployment-statistics-laus-annual-average
unemp_df = pd.read_csv("resources/Local_Area_Unemployment_Statistics__LAUS___Annual_Average copy.csv")
unemp_df.head()

,Area Type,Area Name,Year,Period,Labor Force,Employment,Unemployment,Unemployment Rate,Seasonally Adjusted (Y N),Status,Unnamed: 10
0,County,Alameda County,1990,Annual,677400,649900,27500,4.10,N,Final,nan
1,County,Alameda County,1991,Annual,671800,635500,36300,5.40,N,Final,nan
2,County,Alameda County,1992,Annual,677400,633100,44300,6.50,N,Final,nan
3,County,Alameda County,1993,Annual,678100,633000,45100,6.60,N,Final,nan
4,County,Alameda County,1994,Annual,679900,638200,41600,6.10,N,Final,nan

In [133]:
list(unemp_df.columns)

['Area Type',
 'Area Name',
 'Year',
 'Period',
 'Labor Force',
 'Employment',
 'Unemployment',
 'Unemployment Rate',
 'Seasonally Adjusted (Y N)',
 'Status',
 'Unnamed: 10']

In [134]:
unemp_df = pd.DataFrame(unemp_df)
unemp_df.tail()

,Area Type,Area Name,Year,Period,Labor Force,Employment,Unemployment,Unemployment Rate,Seasonally Adjusted (Y N),Status,Unnamed: 10
2547,County,Yuba County,2014,Annual,27900,24800,3100,11.20,N,Final,nan
2548,County,Yuba County,2015,Annual,27700,25200,2600,9.30,N,Final,nan
2549,County,Yuba County,2016,Annual,28200,25700,2400,8.60,N,Final,nan
2550,County,Yuba County,2017,Annual,28800,26600,2100,7.40,N,Final,nan
2551,County,Yuba County,2018,Annual,29100,27200,1900,6.40,N,Final,nan

In [135]:
#filter for 4 counties
unemp_clean_df = unemp_df.loc[(unemp_df["Area Name"] == "Los Angeles County") |
                            (unemp_df["Area Name"] == "Fresno County") |
                            (unemp_df["Area Name"] == "San Francisco County") |
                            (unemp_df["Area Name"] == "Shasta County"), :]
unemp_clean_df.head()

,Area Type,Area Name,Year,Period,Labor Force,Employment,Unemployment,Unemployment Rate,Seasonally Adjusted (Y N),Status,Unnamed: 10
406,County,Fresno County,1990,Annual,328700,290400,38300,11.60,N,Final,nan
407,County,Fresno County,1991,Annual,336800,291800,45000,13.40,N,Final,nan
408,County,Fresno County,1992,Annual,352600,298100,54600,15.50,N,Final,nan
409,County,Fresno County,1993,Annual,361700,306000,55800,15.40,N,Final,nan
410,County,Fresno County,1994,Annual,356200,305400,50700,14.20,N,Final,nan

In [137]:
#filter for 2013 - 2018
unemp_new_df = unemp_clean_df.loc[(unemp_clean_df["Year"] == 2013) |
                            (unemp_clean_df["Year"] == 2014) |
                            (unemp_clean_df["Year"] == 2015) |
                            (unemp_clean_df["Year"] == 2016) |
                            (unemp_clean_df["Year"] == 2017) |
                            (unemp_clean_df["Year"] == 2018), :]
unemp_new_df.head()

,Area Type,Area Name,Year,Period,Labor Force,Employment,Unemployment,Unemployment Rate,Seasonally Adjusted (Y N),Status,Unnamed: 10
429,County,Fresno County,2013,Annual,437900,379800,58100,13.30,N,Final,nan
430,County,Fresno County,2014,Annual,438300,387500,50700,11.60,N,Final,nan
431,County,Fresno County,2015,Annual,440500,395700,44900,10.20,N,Final,nan
432,County,Fresno County,2016,Annual,445000,402700,42300,9.50,N,Final,nan
433,County,Fresno County,2017,Annual,445300,407400,37900,8.50,N,Final,nan

In [138]:
#reset index and drop unnecessary columns
unemp_newnew = unemp_new_df.reset_index()
unemp_add=unemp_newnew.drop(["index", 'Seasonally Adjusted (Y N)',"Status","Unnamed: 10","Area Type","Period"], axis = 1) 
unemp_add.head()

,Area Name,Year,Labor Force,Employment,Unemployment,Unemployment Rate
0,Fresno County,2013,437900,379800,58100,13.30
1,Fresno County,2014,438300,387500,50700,11.60
2,Fresno County,2015,440500,395700,44900,10.20
3,Fresno County,2016,445000,402700,42300,9.50
4,Fresno County,2017,445300,407400,37900,8.50

In [139]:
#calculate % change in labor force
labor_f_chg=unemp_add.groupby("Area Name")["Labor Force"].pct_change()*100
labor_chg_df = pd.DataFrame(labor_f_chg)
labor_chg_df = labor_chg_df.rename(columns = {"Labor Force":"Labor Force Change"})
labor_chg_df.head()

   Labor Force Change
0                 nan
1                0.09
2                0.50
3                1.02
4                0.07

In [140]:
#add labor force change to the unemployemnt dataframe
unemp_add["Labor Force Change"] = labor_chg_df["Labor Force Change"].values
unemp_add.head()

,Area Name,Year,Labor Force,Employment,Unemployment,Unemployment Rate,Labor Force Change
0,Fresno County,2013,437900,379800,58100,13.30,nan
1,Fresno County,2014,438300,387500,50700,11.60,0.09
2,Fresno County,2015,440500,395700,44900,10.20,0.50
3,Fresno County,2016,445000,402700,42300,9.50,1.02
4,Fresno County,2017,445300,407400,37900,8.50,0.07

In [141]:
#filter unemployemnt table for 2014 - 2018
labor_df = unemp_add.loc[(unemp_add["Year"] == 2014) |
                            (unemp_add["Year"] == 2015) |
                            (unemp_add["Year"] == 2016) |
                            (unemp_add["Year"] == 2017) |
                            (unemp_add["Year"] == 2018), :]
labor_df.head()

,Area Name,Year,Labor Force,Employment,Unemployment,Unemployment Rate,Labor Force Change
1,Fresno County,2014,438300,387500,50700,11.60,0.09
2,Fresno County,2015,440500,395700,44900,10.20,0.50
3,Fresno County,2016,445000,402700,42300,9.50,1.02
4,Fresno County,2017,445300,407400,37900,8.50,0.07
5,Fresno County,2018,448400,414900,33400,7.50,0.70

In [142]:
labor_reform = labor_df.pivot (index = "Year" , columns = "Area Name", values ="Unemployment Rate")
labor_reform.to_csv("output files/labor_reform.csv")
labor_reform

Area Name,Fresno County,Los Angeles County,San Francisco County,Shasta County
Year,,,,
2014,11.60,8.30,4.40,9.60
2015,10.20,6.60,3.60,7.80
2016,9.50,5.30,3.30,7.00
2017,8.50,4.80,2.90,5.80
2018,7.50,4.70,2.40,4.90

In [143]:
labor_change = labor_df.pivot (index = "Year" , columns = "Area Name", values ="Labor Force Change")
labor_change.to_csv("output files/labor_change.csv")
labor_change

Area Name,Fresno County,Los Angeles County,San Francisco County,Shasta County
Year,,,,
2014,0.09,0.51,2.38,-0.53
2015,0.50,-0.06,2.52,-0.93
2016,1.02,1.03,2.57,0.13
2017,0.07,1.09,1.57,-0.27
2018,0.70,0.78,1.97,0.13

## Crime Data from 2014 - 2018

In [144]:
crime_data_df = pd.read_csv("resources/crimes.csv")
crime_data_df.head()

,Year,County,NCICCode,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,...,MVLARnao_sum,MVPLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT50200nao_sum,LT50nao_sum
0,1985,Alameda County,Alameda Co. Sheriff's Department,427,3,27,166,231,3964,1483,...,930,109,205,44,11,475,753,437,440,498
1,1985,Alameda County,Alameda,405,7,15,220,163,4486,989,...,538,673,516,183,53,559,540,622,916,1159
2,1985,Alameda County,Albany,101,1,4,58,38,634,161,...,147,62,39,46,17,37,84,68,128,138
3,1985,Alameda County,Berkeley,1164,11,43,660,450,12035,2930,...,3153,508,611,1877,18,496,533,636,2793,4274
4,1985,Alameda County,Emeryville,146,0,5,82,59,971,205,...,207,153,16,85,24,169,217,122,161,164

In [145]:
crime_data_reduced_df = crime_data_df.loc[:, ["County", "Year", "Violent_sum"]]
crime_data_reduced_df.set_index('County', inplace=True)
crime_data_2014_2018 = crime_data_reduced_df.loc[(crime_data_reduced_df["Year"] == 2014) | 
                                                 (crime_data_reduced_df["Year"] == 2015) | 
                                                 (crime_data_reduced_df["Year"] == 2016) | 
                                                 (crime_data_reduced_df["Year"] == 2017) | 
                                                 (crime_data_reduced_df["Year"] == 2018)]
crime_data_2014_2018

                   Year  Violent_sum
County
Fresno County      2014            0
Fresno County      2015            0
Sacramento County  2014            6
Sacramento County  2015            4
Fresno County      2014          216
...                 ...          ...
Yuba County        2018          225
Yuba County        2018          112
Yuba County        2018            3
Yuba County        2018            0
Yuba County        2018            1

[3654 rows x 2 columns]

In [146]:
selectcounties_df = crime_data_2014_2018.loc[ ['Los Angeles County' , 'San Francisco County', 'Fresno County', 'Shasta County'] , : ]
selectcounties_df

                    Year  Violent_sum
County
Los Angeles County  2014            0
Los Angeles County  2015            0
Los Angeles County  2014         5091
Los Angeles County  2014          168
Los Angeles County  2014           60
...                  ...          ...
Shasta County       2018           64
Shasta County       2018          620
Shasta County       2018            1
Shasta County       2018            0
Shasta County       2018            1

[677 rows x 2 columns]

In [160]:
grouped_selectcounties_df = selectcounties_df.groupby(['County', 'Year'])
grouped_selectcounties_df = grouped_selectcounties_df.sum()
crime_county_year_df = pd.DataFrame (grouped_selectcounties_df)
crime_county_year_df_reset = crime_county_year_df.reset_index()
crime_county_year_df_reset

                  County  Year  Violent_sum
0          Fresno County  2014         4547
1          Fresno County  2015         5228
2          Fresno County  2016         5981
3          Fresno County  2017         5745
4          Fresno County  2018         5889
5     Los Angeles County  2014        42725
6     Los Angeles County  2015        50466
7     Los Angeles County  2016        56351
8     Los Angeles County  2017        59924
9     Los Angeles County  2018        58567
10  San Francisco County  2014         6822
11  San Francisco County  2015         6789
12  San Francisco County  2016         6269
13  San Francisco County  2017         6410
14  San Francisco County  2018         6290
15         Shasta County  2014         1275
16         Shasta County  2015         1400
17         Shasta County  2016         1333
18         Shasta County  2017         1225
19         Shasta County  2018         1163

In [158]:
crime_county_year_df_reset['County_Year'] = crime_county_year_df_reset[['County', 'Year']].apply(lambda x: '_'.join([x[0],str(x[1])]), axis=1)
crime_county_year_df_reset.head()

          County  Year  Violent_sum         County_Year
0  Fresno County  2014         4547  Fresno County_2014
1  Fresno County  2015         5228  Fresno County_2015
2  Fresno County  2016         5981  Fresno County_2016
3  Fresno County  2017         5745  Fresno County_2017
4  Fresno County  2018         5889  Fresno County_2018

In [159]:
crime_county_df = crime_county_year_df_reset.rename(columns={"Violent_sum": "Violent_Crimes"})
crime_county_df

                  County  Year  Violent_Crimes                County_Year
0          Fresno County  2014            4547         Fresno County_2014
1          Fresno County  2015            5228         Fresno County_2015
2          Fresno County  2016            5981         Fresno County_2016
3          Fresno County  2017            5745         Fresno County_2017
4          Fresno County  2018            5889         Fresno County_2018
5     Los Angeles County  2014           42725    Los Angeles County_2014
6     Los Angeles County  2015           50466    Los Angeles County_2015
7     Los Angeles County  2016           56351    Los Angeles County_2016
8     Los Angeles County  2017           59924    Los Angeles County_2017
9     Los Angeles County  2018           58567    Los Angeles County_2018
10  San Francisco County  2014            6822  San Francisco County_2014
11  San Francisco County  2015            6789  San Francisco County_2015
12  San Francisco County  2016            6269  San Francisco County_2016
13  San Francisco County  2017            6410  San Francisco County_2017
14  San Francisco County  2018            6290  San Francisco County_2018
15         Shasta County  2014            1275         Shasta County_2014
16         Shasta County  2015            1400         Shasta County_2015
17         Shasta County  2016            1333         Shasta County_2016
18         Shasta County  2017            1225         Shasta County_2017
19         Shasta County  2018            1163         Shasta County_2018

In [150]:
crime_county_df.to_csv("output files/crimes_by_counties.csv")

## Crime Data:  all CA counties, 2018

In [151]:
crime_data_2018 = crime_data_reduced_df.loc[(crime_data_reduced_df["Year"] == 2018)]
crime_data_2018.head()

                Year  Violent_sum
County
Alameda County  2018          670
Alameda County  2018          184
Alameda County  2018           37
Alameda County  2018          586
Alameda County  2018          170

In [152]:
crime_county_2018_df = crime_data_2018.rename(columns={"Violent_sum": "Violent_Crimes"
                                            })
crime_county_2018_df.head()

                Year  Violent_Crimes
County
Alameda County  2018             670
Alameda County  2018             184
Alameda County  2018              37
Alameda County  2018             586
Alameda County  2018             170

In [153]:
grouped_crime_county_2018_df = crime_county_2018_df.groupby(['County', 'Year'])
grouped_crime_county_2018_df = grouped_crime_county_2018_df.sum()

In [154]:
crime_all_counties_2018 = pd.DataFrame (grouped_crime_county_2018_df)
crime_all_counties_2018 = crime_all_counties_2018.reset_index()
crime_all_counties_2018.head()

             County  Year  Violent_Crimes
0    Alameda County  2018            9948
1     Alpine County  2018              12
2     Amador County  2018             118
3      Butte County  2018            1214
4  Calaveras County  2018             197

In [155]:
crime_all_counties_2018.to_csv("output files/crimes_all_counties_2018.csv")